.layout-file-no-text .exhibit-items > * {
    max-width: 100%;
    margin-bottom: 4em;
}

.layout-file-no-text .exhibit-items > *:last-child {
    margin-bottom: 0;
}

.layout-file-no-text .exhibit-items .download-file {
    clear: both;
    border-bottom: 0;
    overflow: visible;
}

.layout-file-no-text .exhibit-items .fullsize img {
    max-width: 100%;
    margin-bottom: 1em;
}

.layout-file-no-text .item-caption p {
    margin: 0;
    clear: both;
}

.layout-file-no-text .captions-center .exhibit-item-caption p {
    text-align: center;
}

.layout-file-no-text .captions-left .exhibit-item-caption p {
    text-align: left;
}

.layout-file-no-text .captions-right .exhibit-item-caption p {
    text-align: right;
}

.layout-file-no-text .exhibit-items.center{
    margin-right: auto;
    margin-left: auto;
}

.layout-file-no-text .exhibit-items.left{
  float: left;
  padding-left: 2%;
}

.layout-file-no-text .exhibit-items.right {
  float: right;
  padding-right: 2%;
}

.layout-file-no-text .exhibit-items.fullwidth{
  width: 96%;
}

.layout-file-no-text .exhibit-items.threequarterwidth{
  width: 75%;
}

.layout-file-no-text .exhibit-items.halfwidth{
  width: 50%;
}

.layout-file-no-text .exhibit-items.quarterwidth{
  width: 25%;
}